---
title: meeep
---
<section class="videos">
  <% @item[:episodes].each do |e| %>
  <article>
    <aside class="image">
      <a href="<%= e[:youtube] %>"><img src="<%= e[:thumb_100] %>" alt="" /></a>
    </aside>
    <div class="content">
      <h1><a href="<%= e[:youtube] %>"><%= e[:name] %></a></h1>
      <footer>Gameplay! – <%= e[:date_ruby].strftime('%e %b. %Y') %> – <%= e[:length] %></footer>
      <%= e.compiled_content %>
    </div>
  </article>
  <% end %>
</section>
<nav class="sidebar">
  <h4>Filter</h4>
  <h5>By Show</h5>
  <ul>
    <li><a>Gameplay!</a></li>
  </ul>
</nav>
